<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
    
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <!-- starting left frame -->
            <div class="left_frame">
                <!-- starting foto frame -->
                <div class="left_1">
                    <div class="left_foto">
                        <img class="left_foto_circle" src="images/men_foto.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_text_1"><%=user.name%></div>
                    <div class="left_text_2"><%=user.profession%></div>
                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icon-1.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icon-2.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icon-3.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icon-4.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icon-5.svg" class="icon_1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icon-6.svg" class="icon_1">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ending foto frame -->
                
                <div class="marginer"></div>



                <!-- starting information frame -->
                <div class="left_2">
                    <div class="text_left ">
                        <div class="text_color left_2_age">Age:</div>
                        <div class="">24</div>
                    </div>
                    <div class="text_left ">
                        <div class="text_color left_2_residence">Resudence:</div>
                        <div>BD</div>
                    </div>
                    <div class="text_left">
                        <div class="text_color left_2_freelence">Freelance:</div>
                        <div class="available">Available</div>
                    </div>
                    <div class="text_left ">
                        <div class="text_color left_2_address">Address:</div>
                        <div>Dhaka,Bangladesh</div>
                    </div>
                </div>
                <!-- ending information frame -->



                <div class="marginer"></div>
                <!-- starting languages frame -->
                <div class="left_3">
                    <div class="languages" >Languages</div>
                    <div class="languages_in_text">
                        <div class="countries">
                            <div clas style="margin-top: 15px;">Bangla</div>
                            <div>100%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_1.svg" class="icon_1">
                            </div>
                        </a>
                        <div class="countries">
                            <div clas>English</div>
                            <div>80%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_2.svg" class="icon_1">
                            </div>
                        </a>
                        <div class="countries">
                            <div clas>Spanish</div>
                            <div>60%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_3.svg" class="icon_1">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ending languages frame -->


                
                <div class="marginer"></div>

                <!-- starting skills frame -->
                <div class="left_4">
                    <div class="languages" >Skills</div>
                    <div class="languages_in_text">
                        <div class="countries">
                            <div clas style="margin-top: 15px;">Html</div>
                            <div>90%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_1.svg" class="icon_s_1">
                            </div>
                        </a>
                        <div class="countries">
                            <div clas>Css</div>
                            <div>85%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_2.svg" class="icon_s_2">
                            </div>
                        </a>
                        <div class="countries">
                            <div clas>Js</div>
                            <div>80%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_3.svg" class="icon_s_3">
                            </div>
                        </a>
                        <div class="countries">
                            <div clas>PHP</div>
                            <div>75%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_3.svg" class="icon_s_4">
                            </div>
                        </a>
                        <div class="countries">
                            <div clas>WorldPress</div>
                            <div>85%</div>
                        </div>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/line_3.svg" class="icon_s_5">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ending skills frame -->
                <div class="marginer"></div>




                <!-- starrting extra skills frame -->
                <div class="left_5">
                    <div class="languages" >Extra Skills</div>
                    <div class="text_icons" style="margin-top: 15px;">
                        <div class="extra_skills_icons">
                            <img src="icons/extraskills_icon.svg" alt="">
                        </div>
                        <div>
                            <div class="extra_skills_texts">Bootstrap, Materialize</div>
                        </div>
                    </div>
                    <div class="text_icons">
                        <div class="extra_skills_icons">
                            <img src="icons/extraskills_icon.svg" alt="">
                        </div>
                        <div>
                            <div class="extra_skills_texts">Stylus, Sass, Less</div>
                        </div>
                    </div>
                    <div class="text_icons">
                        <div class="extra_skills_icons">
                            <img src="icons/extraskills_icon.svg" alt="">
                        </div>
                        <div>
                            <div class="extra_skills_texts">Gulp, Webpack, Grunt</div>
                        </div>
                    </div>
                    <div class="text_icons">
                        <div class="extra_skills_icons">
                            <img src="icons/extraskills_icon.svg" alt="">
                        </div>
                        <div>
                            <div class="extra_skills_texts">GIT Knowledge</div>
                        </div>
                    </div>
                </div>
                <!-- ending extra skills frame -->



                <div class="marginer" style="margin-top: 5px;"></div>
                <!-- starting download and icon frame  -->
                <div class="left_down">
                    <div style="margin-right: 19px;">DOWNLOAD CV</div>
                    <div class="down_icon">
                        <img class="down_icon1" src="icons/down_button.svg"></img>
                    </div>
                </div>
                <!-- ending download and icon frame  -->
            </div>
            <!-- ending left frame -->


            <!-- starting midd fram -->
            <!-- starting midd top frame -->
            
            <div class="midd_frame">
                <div class="midd_top">
                    <!-- dekor elementlar -->
                    <div class="shape circle yellow"></div>
                    <div class="shape circle green"></div>
                    <div class="shape circle yellow2"></div>
                    <div class="shape square blue"></div>
                    <div class="shape square orange"></div>
                    <div class="shape circle green2"></div>
                    <div class="shape diamond red"></div>

                    <!-- sizning asosiy kontentingiz shu yerda -->
                    <div class="midd_left_text">
                        <div class="doctor_text">Doctor neurologists in OHSU Hospital </div>
                        <div class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                        <div class="hire_me_icon">
                            <div>HIRE ME</div>
                            <!-- < href=""> -->
                                <div>
                                    <img src="icons/button_bot.svg"></img>
                                </div>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="midd_right_foto">
                        <img src="images/men_foto.png" alt="">
                    </div>
                </div>
                <!-- ending midd top frame -->

                <!-- starting midd bot fram -->
                <div class="midd_bot">
                    <div class="midd_bot_text_1">My Services</div>
                    <div class="midd_bot_text_2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                    <div class="midd_bot_box" style="margin-bottom: 20px;">
                        <div class="boxes ">
                            <div>
                                <a class="link_href" href="">
                            <div class="midd_bot_icon1">
                                <img src="icons/webbig_icon.svg" class="icon_1">
                            </div>
                        </a>
                            </div>
                            <div class="mid_bot_texts">web development</div>
                            <div class="midd_bit_text2">blog, e-commerce</div>
                        </div>
                        <div class="boxes boxes_center">
                            <div>
                                <a class="link_href" href="">
                            <div class="midd_bot_icon2">
                                <img src="icons/ui_icon.svg" class="icon_1">
                            </div>
                        </a>
                            </div>
                            <div class="mid_bot_texts">uI/uX design</div>
                            <div class="midd_bit_text2">Mobile app, website design</div>
                        </div>
                        <div class="boxes boxes_center">
                            <div>
                                <a class="link_href" href="">
                            <div class="midd_bot_icon3">
                                <img src="icons/sound_icon.svg" class="icon_1">
                            </div>
                        </a>
                            </div>
                            <div class="mid_bot_texts">sound design</div>
                            <div class="midd_bit_text2">Voice Over, Beat Making</div>
                        </div>
                    </div>
                    <div class="midd_bot_box">
                        <div class="boxes ">
                            <div>
                                <a class="link_href" href="">
                            <div class="midd_bot_icon4">
                                <img src="icons/game_icon.svg" class="icon_1">
                            </div>
                        </a>
                            </div>
                            <div class="mid_bot_texts">game design</div>
                            <div class="midd_bit_text2">Character Design, Props & Objects</div>
                        </div>
                        <div class="boxes boxes_center">
                            <div>
                        <a class="link_href" href="">
                            <div class="midd_bot_icon5">
                                <img src="icons/photograf_icon.svg" class="icon_1">
                            </div>
                        </a>
                            </div>
                            <div class="mid_bot_texts">photography</div>
                            <div class="midd_bit_text2">portrait, product photography</div>
                        </div>
                        <div class="boxes boxes_center">
                            <div class="mid_bot_texts">advertising</div>
                            <div class="midd_bit_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                            <div class="order_text">ORDER NOW ></div>
                        </div>
                    </div>
                </div>
                <!-- ending midd bot fram -->
            </div>
            <!-- ending midd  fram -->

            <!-- starting right frame -->
            <div class="right_frame">
                <div class="right_first_icon">
                    <a class="righ" href="">
                            <div class="right_icon1">
                                <img class="right_imgs_month" src="icons/right_icon1.svg">
                            </div>
                    </a>
                </div>
                <div class="right_second_icon">
                    <!-- <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon2 comment_icon">
                                <img class="right_imgs comment_icon" src="/public/author/icons/right_icon2.svg" >
                            </div>
                    </a>
                    </div> -->
                    <div class="icon-wrapper">
                        <div class="tooltip">Home</div>
                            <div class="icon-circle">
                                <i class="fa fa-home"></i>
                        </div>
                    </div>
                    <!-- <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon3">
                                <img class="right_imgs" src="/public/author/icons/right_icon3.svg" >
                            </div>
                    </a>
                    </div> -->
                    <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon_round right_icon4">
                                <img class="right_imgs" src="icons/right_icon4.svg" >
                            </div>
                    </a>
                    </div>
                    <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon_round right_icon5">
                                <img class="right_imgs" src="icons/right_icon5.svg" >
                            </div>
                    </a>
                    </div>
                    <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon_round right_icon6">
                                <img class="right_imgs" src="icons/right_icon6.svg" >
                            </div>
                    </a>
                    </div>
                    <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon_round right_icon7">
                                <img class="right_imgs" src="icons/right_icon7.svg" >
                            </div>
                    </a>
                    </div>
                    <div>
                        <a class="right_icons_siza" href="">
                            <div class="right_icon_round right_icon8">
                                <img class="right_imgs" src="icons/right_icon8.svg" >
                            </div>
                    </a>
                    </div>
                </div>
            </div>
            <!-- ending right frame -->
        </div>
    </div>
</body>
</html>
